*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, input{
    font-family:sans-serif;
}
.container{
    position:relative ;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    overflow: hidden;
}
.container:before{
    content:'';
    position: absolute;
    width: 2000px;
    height: 2000px;
     border-radius: 50%;  
    background-image: url(image/bg.png);
    /* background: linear-gradient(-35deg, #808080, #808080); */
     top:-15%;
    left: 58%;
    transform: translateY(-50%); 
    background-position: cover;
}
.forms-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
 .signin-signup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
sign-in-form{
    z-index: 2;
}

.title{
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}
.input-field{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin:10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem;
}
.input-field i{
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.1rem;
}
/* removing outline  of input tag*/
.input-field input{
    background: none;
    outline: none;
    border: #444;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}
.input-field input::placeholder{
    color: #aaa;
    font-weight: 500;
}
.btn{
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    cursor:pointer;
    background-color:  #4d84e2;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: 0.5s;
}
.btn:hover{
    background-color: #0552d7;
}
/* -------Sign in with------ */
.social-text{
    padding: .7rem 0;
    font-size: 1rem;
}
.social-media{
    display: flex;
    justify-content: center;
}

.social-icon{
    height: 46px;
    width: 46px;
    border: 1px solid #333333;
    margin: 0 0.45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    color:#333;
    font-size: 1.1rem;
    transition: 0.3s;
}
.social-icon:hover{
    color: blue;
    border-color:blue;
}
/* .fab fa-google{
    display: flex;
    color: #808080;
} */
.error-messege{
    color: red;
}
